/*? PAGINATOR SELECTOR STYLES */

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.paginator button {
  color: #36395a;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 2px 3px 2px 3px;
}

.paginator button:disabled {
  opacity: 0.5;
}

.paginatorItemsList {
  display: flex;
  justify-content: space-between;
}

.paginatorItemsList button {
  font-size: 0.8rem;
}

.paginator .active {
  background-color: #aebdca;
  color: #fcfcfd;
  border-radius: 4px;
}
