@import "../../../variables";

li {
  text-transform: uppercase;
  margin: 5px 0;
}

li a {
  color: $base_font;
  text-decoration: none;
  display: flex;
  align-items: center;
}

li a img {
  margin-right: 5px;
  fill: $base_color;
  filter: invert(1);
}

li:hover a {
  color: $base_color;
}

.active {
  color: $base_color;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  li a span {
    display: none;
  }
}
