li {
  margin-top: 10px;
  text-transform: uppercase;
}

li a {
  color: #3b444b;
  text-decoration: none;
  display: flex;
  align-items: center;
}

li a img {
  margin-right: 5px;
}

li:hover a {
  color: #0e1111;
}

.active {
  color: #0e1111;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  li a span {
    display: none;
  }
}
