.postsBlock {
  padding: 15px 15px 0 0;
}

.postsAddArea {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  height: 60px;
}

.postsAddArea button {
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  width: 80px;
}

.postsAddArea textarea {
  width: 100%;
  border: none;
  margin-right: 10px;
  padding: 10px;
}
