@import "../../variables";

.nav {
  grid-area: n;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    padding-inline-start: 0px;
  }
  .friendList {
    overflow-y: scroll;
  }
}
