.profileImage img {
  width: 100%;
}

.profileDescription {
  display: flex;
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.profileDescription img {
  width: 120px;
  height: 120px;
}

.Description {
  margin-left: 20px;
}
