.item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #fcfcfd;
}

.item img {
  width: 60px;
  height: 60px;
}

.item button {
  border-radius: 12px;
  height: 100%;
}

.item p {
  margin-left: 20px;
  flex-grow: 2;
}

.likes {
  display: flex;
  align-items: center;
}
