.item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.avatar {
  align-self: flex-start;
}

.item img {
  width: 60px;
  height: 60px;
}

.item button {
  border-radius: 12px;
  height: 100%;
}

.item p {
  min-height: 40px;
  background-color: #fcfcfd;
  margin-left: 10px;
  flex-grow: 2;
  word-break: break-all;
  padding: 10px;
}

.likes {
  display: flex;
  align-items: center;
}
