.item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.item div {
  display: flex;
  width: 100%;
}

.avatar {
  align-self: flex-start;
  width: 60px;
  height: 60px;
}

.item button {
  border-radius: 12px;
  height: 100%;
}

.item p {
  min-height: 40px;
  background-color: #fcfcfd;
  margin-left: 10px;
  flex-grow: 2;
  word-break: break-all;
  padding: 10px;
}

.likes {
  display: flex;
  justify-content: flex-end;
}

.likes button {
  margin-left: 5px;
  border: none;
  opacity: 0.7;
}

.likes button:hover {
  opacity: 1;
}

.likes img {
  width: 20px;
  height: 20px;
}
