* {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f5efe6;
  background-image: linear-gradient(10deg, #e8dfca 50%, transparent 50%), linear-gradient(-60deg, #aebdca 30%, transparent 30%);
}

.app-wrapper__main {
  display: grid;
  grid-template-areas:
    "h h h"
    "n c c";

  grid-template-rows: 70px 1fr;
  grid-template-columns: 3fr 10fr;

  width: 100%;
  max-width: 1200px;

  opacity: 0.95;

  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
}

.app-wrapper__content {
  background-color: #f5efe6;
  grid-area: c;
  overflow-y: scroll;
}
