.app-wrapper {
  display: grid;
  grid-template-areas: 
  "h h h"
  "n c c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.header {
  grid-area: h;
  background-color: aquamarine;
  margin-top: 5px;
}

.header img {
  height: 100%;
}

.nav {
  background-color: blueviolet;
  grid-area: n;
  height: 100%;
}

.nav div {
  width: 100px;
  margin: 20px auto;

}

.nav a {
  color: black;
  text-decoration: none;
  
}

.nav a:hover {
  background-color: rgba(123, 123, 123, 0,4);
}

.content {
  background-color: beige;
  grid-area: c;
}

.content img {
  width: 100%;
}